body {
    display: block;
    
}

.slider {
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content {
    margin-top: 20px;
}

img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

button {
    display: inline-block;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 0 40px 40px #F137A6 inset, 0 0 0 0 #F137A6;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
button:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
}